<!DOCTYPE html>
<html>
<head lang="en">
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<title>{{title}}</title>
	{% load static from staticfiles %}
	<link rel='stylesheet' type='text/css' href="{% static "css/style.css" %}" />
	<link rel='stylesheet' type='text/css' href="{% static "css/print.css" %}" />
	{% load humanize %}
</head>
<body>
	<div id="page-wrap">
		<div id="header">INVOICE</div>
		<div id="identity">

            <div id="address1">WellNet Services Pvt. Ltd.<br>
#1, 1st Floor, Sri Prem Prasad Complex,<br>
New BEL Road, RMV extension<br>
Bangalore 560094<br>
Karnataka, India<br>
<br>
Telephone: +91 99 00 544331<br>
</div>

            <div id="logo">
			<img id="image" src="{% static 'images/logo.png' %}" alt="logo" /><br>
E-mail: <span style="color: blue; text-decoration: underline;"><a href="mailto:info@wellnetservices.com">info@wellnetservices.com<a></span><br>
Website: <span style="color: blue; text-decoration: underline;"><a href="http://www.wellnetservices.com">www.wellnetservices.com</a></span><br>

            </div>

		</div>

		<div style="clear:both"></div>

		<div id="customer">
			<div style="width: 275px; float: left;">
				<div id="customer-title">
                    <!--{{ company_name }}-->
                    <!--<br>-->
	c/o {{ owner_name }}</div>
                {% if company_address in context %}
				<div id="address" style="height: auto;">
				Address: {{ company_address }}
				<span>Pin Code: {{ pin_code }}</span>
                </div>
                {% endif %}
			</div>
            <table id="meta">
                <tr>
                    <td class="meta-head">Invoice #</td>
                    <td><div>{{invoice_number}}</div></td>
                </tr>
                <tr>

                    <td class="meta-head">Date</td>
                    <td><div id="date">{{invoice_date}}</div></td>
                </tr>
                <tr>
                    <td class="meta-head">Amount Due</td>
                    <td><div class="due">&#8377; {{ invoice_amount|intcomma }}</div></td>
                </tr>

            </table>

		</div>

		<table id="items">

		  <tr>
		      <th>Sl No</th>
		      <th>Product Description</th>
		      <th>Unit Cost</th>
		      <th>Quantity</th>
			  <!--<th>ST%</th>-->
			  <th>ST Amount</th>
			  <!--<th>VAT%</th>-->
			  <th>VAT Amount</th>
		      <th>Amount</th>
		  </tr>
		{% for product in invoice_products %}
		  <tr class="item-row">
			  <td>{{ forloop.counter }}</td>
		      <td class="item-name"><div class="delete-wpr">{{ product.description }}</div></td>
		      <td><div class="cost">&#8377; {{ product.unit_cost }}</div></td>
		      <td><div class="qty">{{ product.quantity }}</div></td>
			  <!--<td>{{ product.service_tax_percentage }}</td>-->
			  <td>&#8377; {{ product.service_tax|intcomma }}</td>
			  <!--<td>{{ product.vat_percentage }}</td>-->
			  <td>&#8377; {{ product.vat|intcomma }}</td>
		      <td><div class="price">&#8377; {{ product.total_amount|intcomma }}</div></td>
		  </tr>
		{% endfor %}
		  <tr><td colspan="9" style="border-bottom: 0px; border-top: 0px; height: 60px;"> </td></tr>
		  <tr><td colspan="9" style="border-top: 0px;"> </td></tr>
		  <tr>
		      <td colspan="6" class="blank"> </td>
		      <td colspan="2" class="total-line balance">Grand Total</td>
		      <td class="total-value balance"><div class="due price">&#8377; {{ grand_total|intcomma }}</div></td>
		  </tr>
		</table>

		<div id="terms">
		  <h5>Thank you for your business</h5>
		  <div>This is an electronically generated invoice and does not require signature. All terms and conditions are as given on <span  style="color: blue; text-decoration: underline;"><a href="http://www.wellnetservices.com">www.wellnetservices.com</a></span> You can always visit your Bookings page to view your order status and to contact us regarding this order.</div>
		</div>

	</div>

</body>

</html>
